/*Eléments principaux du html*/
header{
    background-color: black;
}
header > p{
    color: white;
}
footer{
    background-color: black;
}
/*CSS sur les listes*/
.liste > li{
    list-style: none;
    display: block;
    margin: 0px;
}
ul > li{
    color: white;
}

/*CSS sur les titres et sous-titres*/
h1{
    color: red;
}

#disclaimer{
    color: rgba(192, 192, 21, 0.833);
    text-decoration: underline;
}

/*CSS sur les Liens*/
.menu {
    color: orange;
    text-decoration: none;
    outline: none;
}
a{
    
    display: block;
}